<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>com.jack.personal.iosDemo.dev</string>
	<key>CFBundleURLSchemes</key>
	<string>com.googleusercontent.apps.966336821745-3f18lem0a8ipe6i9ft691am349ittlfn</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.966336821745-3f18lem0a8ipe6i9ft691am349ittlfn</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>966336821745-3f18lem0a8ipe6i9ft691am349ittlfn.apps.googleusercontent.com</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
</dict>
</plist>
